/* @import url('https://fonts.googleapis.com/css?family=Ubuntu'); */

nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: minmax(auto, 1fr);
    grid-gap: .5em;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    background: #6b8ebc;
    grid-template-areas: 
	"m1 m2 m2plus logo m3minus m3 m4";
}

@media screen and (max-width: 736px) {
    .m2 { display: none }
    .m2plus { display: none }
    .m3minus { display: none; }
    .m3 { display: none; }
    .m4 { display: none; }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* grid-template-rows: minmax(auto, 1fr); */
        grid-gap: 1em;
        grid-template-areas: 
        "logo m1";
    }

}

.m1 {
    grid-area: m1;
}

.m2 {
    grid-area: m2;
}

.m2plus{
     grid-area: m2plus;
}

.logo {
    grid-area: logo;
    background-image: url("/images/logos/eclogo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
}

.m3minus {
   grid-area: m3minus;
}

.m3 {
    grid-area: m3;
}

.m4 {
    grid-area: m4;
}

.navLinks {
    font-family: 'Calibri', sans-serif;
    font-size: 1.0em;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navLinks:hover {
    color: #00375e;   
    /* border-left: .5px solid white; */
    /* border-right: .5px solid white; */
    padding: 1em 1em;
}

#twist {
    color: blue;
}
