* {
	margin: 0;
	padding: 0;
	font-family: 'Calibri', sans-serif;

}

html, body {
	width: 100%;
	height: 100%;
	/* color: white; */
	/* text-transform: uppercase;
	text-align: center;
	font-family: helvetica, arial; */
}

/*
 *
 * Use the 2fr or something like that over
 * px or %
 *
 * repeat(3, 2fr) for example or sets of fr
 *
 * grid-auto-rows: minmax(100px, auto);
 */

.grid {
	display: grid;
	min-height: 100%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	/* grid-template-rows: 1fr 1fr 1fr 1fr; */
	grid-template-rows: minmax(auto, 1fr);
	grid-template-areas: 
	"title title title title" 
	"header header header header" 
	"content content content content" 
	"sidebar sidebar sidebar sidebar" 
	"footer footer footer footer";
	grid-gap: 5px;
}

.title {
	grid-area: title;
}

.header {
	grid-area: header;
	text-align: center;
}

.sidebar {
	grid-area: sidebar;
}

.content {
	grid-area: content;
	/* can sub a grid in here too */
}

.footer {
	grid-area: footer;
	margin: 25px;
	text-align: center;
}


/* .grid div:nth-child(even) {
	background-color: rgba(255, 60, 0, 0.24);
}

.grid div:nth-child(odd) {
	background-color: rgba(0, 128, 0, 0.24);
} */

@media screen and (min-width: 736px) {
	.grid {
		display: grid;
		grid-template-columns: 10% 1fr 1fr 1fr 20% 10%;
		grid-template-rows: auto auto 1fr auto;
		/* grid-template-rows: minmax(auto, 1fr); */
		grid-template-areas: 
		". title title title title . " 
		". header header header header . " 
		". content content content sidebar . " 
		". footer footer footer footer . "
		;
		grid-gap: 10px;

	}
	.sidebar {
		grid-area: sidebar;
		/* width: 200px; */
		width: 100%;
	}
}

