{{define "Q"}}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<link rel="stylesheet " href="/css/grid2.css ">
	<link rel="stylesheet " href="/css/grid.css ">
	<link rel="stylesheet " href="/css/nav.css ">
	<link rel="stylesheet " href="/css/pillbox.css ">
    <link rel="stylesheet " href="/css/pillwrapper.css ">
    <link rel="stylesheet " href="/css/leafletcustom.css ">


	<!-- use hack font -->
    <link rel='stylesheet' href='http://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>

    <!-- icons and fonts for some icon use  (kinda heavy for just that)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
     <!-- load the web components for P418 alpha -->
     <script src="/components/leaflet-element/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
     <link rel="import" href="/components/leaflet-element/bower_components/leaflet-map/leaflet-map.html">
 
	
	<title>P418 Alpha 2 Single Col UI</title>
</head>

<body>
	<div class="grid ">
		<div class="title ">
                <nav class="container">
                        <div class="m1">
                            <a href="/" class="navLinks">Home</a>
                        </div>
                        <div class="m2">
                            <a href="/about.html" class="navLinks">About</a>
                        </div>
                        <div class="m2plus">
                            <a href="/data/catalog" class="navLinks">Data</a>
                        </div>
                        <div class="logo">
                        </div>
                        <div class="m3minus">
                            <a target="_blank" href="https://github.com/earthcubearchitecture-project418/p418Docs" class="navLinks">Docs</a>
                        </div>
                        <div class="m3">
                            <a target="_blank" href="https://github.com/earthcubearchitecture-project418" class="navLinks">GitHub</a>
                        </div>
                        <div class="m4">
                            <a target="_blank" href="/voc/" class="navLinks">Vocab</a>
                        </div>
                    </nav>
		</div>
		<div class="header ">


            <form id="formcall" action="/alphasingle" method="GET">
                <div>
                    <input style="width:300px" type="text" name="q" value="{{.Term}}" id="q">
                    <label  for="sample3">  <i style="font-size:24px" class="material-icons">search</i>  </label>
                </div>
            </form>
            <div>
                <a href="/alphasingle?q={{.Term}}&start={{.PrevStart}}"><i style="font-size:24px" class="material-icons">navigate_before</i></a>
                <div style="display:inline;font-size:18px">{{if .Count}} {{.StartAt}} - {{.EndAt}} of {{.Count}} {{end}} {{if .Message}} {{.Message}} {{end}}</div>
                <a href="./alphasingle?q={{.Term}}&start={{.NextStart}}"><i style="font-size:24px" class="material-icons">navigate_next</i></a>
            </div>

            {{end}}
            {{define "T"}}

        </div>
		<div class="sidebar ">
                <p style="margin-top: 25px">
		_
                      </p>

        </div>
		<div class="content ">

            {{range $loop := .}}
            <div class="wrapper"  style="padding-bottom: 5px">
                <div class="one">
			<a target="_blank" href="{{.ID}}">{{.ID}}</a> <br/>
			Index: {{.IndexPath}} {{.Score}} 
                </div>
		<!-- <div class="two"> </div>  -->
            </div>

        {{end}}



        </div>
		<div class="footer"><small>Project 418 is funded by the National Science 
            Foundation through the EarthCube Science Support Office (ESSO)</small>
        </div>
	</div>
</body>

</html>
{{end}}
