{{define "Q"}}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width" initial-scale="1.0">
	<link rel="stylesheet " href="/css/grid2.css ">
	<link rel="stylesheet " href="/css/grid.css ">
	<link rel="stylesheet " href="/css/nav.css ">
	<link rel="stylesheet " href="/css/pillbox.css ">

	<!-- use hack font -->
    <link rel='stylesheet' href='http://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>

    <!-- icons and fonts for some icon use  (kinda heavy for just that)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
     <!-- load the web components for P418 alpha -->
     <script src="/components/leaflet-element/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
     <link rel="import" href="/components/leaflet-element/bower_components/leaflet-map/leaflet-map.html">
 
	
	<title>P418 UIgrid</title>
</head>

<body>
	<div class="grid ">
		<div class="title ">
			<nav class="container">
				<div class="m1">
					<a href="/" class="navLinks">Home</a>
				</div>
				<div class="m2">
					<a href="/html/about.html" class="navLinks">About</a>
				</div>
				<div class="logo">
				</div>
				<div class="m3">
					<a target="_blank" href="https://github.com/earthcubearchitecture-project418" class="navLinks">GitHub</a>
				</div>
				<div class="m4">
					<a target="_blank" href="/swagger-ui/" class="navLinks">APIs</a>
				</div>
			</nav>
		</div>
		<div class="header ">


            <form id="formcall" action="/alpha" method="GET">
                <div>
                    <input style="width:300px" type="text" name="q" value="{{.Term}}" id="q">
                    <label  for="sample3">  <i style="font-size:24px" class="material-icons">search</i>  </label>
                </div>
            </form>
            <div>
                <a href="/alpha?q={{.Term}}&start={{.PrevStart}}"><i style="font-size:24px" class="material-icons">navigate_before</i></a>
                <div style="display:inline;font-size:18px">{{if .Count}} {{.StartAt}} - {{.EndAt}} of {{.Count}} {{end}} {{if .Message}} {{.Message}} {{end}}</div>
                <a href="./alpha?q={{.Term}}&start={{.NextStart}}"><i style="font-size:24px" class="material-icons">navigate_next</i></a>
            </div>

            {{end}}
            {{define "T"}}

        </div>
		<div class="sidebar ">
                <p style="margin-top: 25px">
                       There is a LOT broke here..  the maps don't work (and don't even show in mobile mode), it doesn't move to the next set of results (ie, 21-40 in the default case), and there is more.  We're on it!
                      </p>


            <p style="margin-top: 25px">
              This sidebar section is reserved for presenting the user with material from third parties related to 
              the results of the search.  View the concepts for this in Footnote 6 and Footnote 7 at 
              <a href="https://github.com/earthcubearchitecture-project418/p418Docs/blob/master/status.md">this github markdown page.</a>
            </p>

        </div>
		<div class="content ">

            {{range $loop := .}}
            <span> {{$loop.Index}}</span>
            <span style=" padding-left:100px; ">
                <span class="scorereport"><small>{{$loop.HighScore}}</small></span>
            </span>
            <div class="wrapper"  style="padding-bottom: 25px">
                <div class="one">
                    {{range $item := $loop.OR}} {{$item.Position}}:
                    <a class="resultlink" target="_blank" href="{{$item.ID}}">{{$item.ID}}</a>
                    <span class="scorereport"><small>{{$item.Score}}</small></span> 
                    <br> {{end}}
                </div>
                <div class="two">


                    <!-- <leaflet-map style="margin:4px;height:200px;width:200px" fitToMarkers="true" zoom="1"> -->
                    <leaflet-map style="height:100%;min-height: 250px;" fitToMarkers="true" zoom="2">
                        <leaflet-tilelayer url="https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}" max-zoom="13">
                            Tiles &copy; Esri &mdash; Sources: GEBCO, NOAA, CHS, OSU, UNH, CSUMB, National Geographic, DeLorme, NAVTEQ, and Esri
                        </leaflet-tilelayer>
                        <template is="dom-bind" id="{{$loop.Index}}lmap">
                            <leaflet-geojson color="#FF0000" data="[[data]]"></leaflet-geojson>
                            <script>
                                var t = document.getElementById('{{$loop.Index}}lmap');
                                t.data = {
                                    {
                                        $loop.GJ
                                    }
                                };
                            </script>
                        </template>
                    </leaflet-map>

                </div>
                <div class="three">{{range $pitem := $loop.PS}}
                    <div class="pill-box">
                        <span class="pill-box-left">
                            param
                        </span>
                        <!-- /.pill-box-left -->
                        <span class="pill-box-right">
                            {{$pitem.Val}}
                        </span>
                        <!-- /.pill-box-right -->
                    </div>
                    <!-- /.pill-box -->
                    {{end}}</div>
                <div class="four">{{range $pplitem := $loop.PPLS}}
                    <div class="pill-box">
                        <span class="pill-box-left">
                            person
                        </span>
                        <!-- /.pill-box-left -->
                        <span class="pill-box-right">
                            {{$pplitem.Name}}
                        </span>
                        <!-- /.pill-box-right -->
                    </div>
                    <!-- /.pill-box -->
                    {{end}}</div> 
            </div>

        {{end}}



        </div>
		<div class="footer"><small>Project 418 is funded by the National Science 
            Foundation through the EarthCube Science Support Office (ESSO)</small>
        </div>
	</div>
</body>

</html>
{{end}}