{{define "Q"}}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <link rel="stylesheet " href="/css/grid2.css ">
    <link rel="stylesheet " href="/css/grid.css ">
    <link rel="stylesheet " href="/css/nav.css ">
    <link rel="stylesheet " href="/css/simplegrid.css ">



    <!-- use hack font -->
    <link rel='stylesheet' href='http://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>

    <!-- icons and fonts for some icon use  (kinda heavy for just that)-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- load the web components for P418 alpha -->
    <script src="/components/leaflet-element/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/components/leaflet-element/bower_components/leaflet-map/leaflet-map.html">


    <title>P418 Data Catalog</title>
</head>

<body>
    <div class="grid ">
        <div class="title ">
            <nav class="container">
                <div class="m1">
                    <a href="/" class="navLinks">Home</a>
                </div>
                <div class="m2">
                    <a href="/about.html" class="navLinks">About</a>
                </div>
                <div class="m2plus">
                    <a href="/data.html" class="navLinks">Data</a>
                </div>
                <div class="logo">
                </div>
                <div class="m3minus">
                    <a target="_blank" href="https://github.com/earthcubearchitecture-project418/p418Docs" class="navLinks">Docs</a>
                </div>
                <div class="m3">
                    <a target="_blank" href="https://github.com/earthcubearchitecture-project418" class="navLinks">GitHub</a>
                </div>
                <div class="m4">
                    <a target="_blank" href="/voc/" class="navLinks">Vocab</a>
                </div>
            </nav>
        </div>
        <div class="header ">

            GeoDex Data Catalog

        </div>
        <div class="sidebar ">
            <div class="simplebox a typedataset">
                <a style="text-decoration: none;"   href="/id/datapackage/p418graph">
                    <img style="max-width:100%" src="/images/graph.svg">  p418 Graph Data Set </a>
            </div>

            <div class="simplebox a typedataset">
                <a style="text-decoration: none;"    href="/id/datapackage/p418prov">
                    <img style="max-width:100%" src="/images/prov.svg">  p418 Prov Data Set</a>
            </div>

            <div class="simplebox a typedataset">
                <a style="text-decoration: none;"  href="/id/datapackage/p418querylogs">
                    <img style="max-width:100%" src="/images/logs.svg">  p418 Query Logs</a>
            </div>

            <div class="simplebox a typedataset">
                <a style="text-decoration: none;"  href="/id/datapackage/p418spatial">
                    <img style="max-width:100%" src="/images/globegear.svg"> p418 Spatial Data</a>
            </div>

        </div>
        <div class="content ">

            <p>
              This is the beginning of the P418 Data Catalog.  Here people will be able to access
              some of the collected indexes generated by P418 on the material exposed by the 
              the data facilities working with P418.

            </p>



        </div>
        <div class="footer">
            <small>Project 418 is funded by the National Science Foundation through the EarthCube Science Support Office (ESSO)</small>
        </div>
    </div>
</body>

</html>
{{end}}